# Environment variables
.env

# Keys directory
/keys/*
!/keys/.gitkeep

# Database
/database

# Uploads
/uploads

# Node modules
node_modules/

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock